*{
  margin: auto;
}
body{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
	margin: 40px auto 0 auto;
	width: 100%;
	justify-content: space-between;
	border: 1px solid brown;
}
header div {
	border: 1px solid red;
	margin: 0px 10px;
}
#jeu{
  display: flex;
  border: 1px solid blue;
  margin: 0px;
  height: 80vh;
}
.column{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  border: 1px solid black;
}
#diceRoll img{
  width: 100px;
  border: 1px solid yellow;
  margin: 10px auto;
}
#diceRoll{
  padding-top: 100px;
}
#diceRoll img:nth-child(2){
  margin-bottom: 50px;
  border: 1px solid red;
}
#diceRoll p{
  margin: 10px auto;
  border: 1px solid red;
}
#player1{
  width: 30%;
}
#player2{
  width: 30%;
}
.column div {
	border: 1px solid purple;
	padding: 15px 30px;
	text-align: center;
}
.column > p {
	border: 1px solid blue;
	margin-top: 0px;
}




